In [1]:
from utils.data_collector import OPITMODataCollector
from utils.data_extractor import DataExtractor
from utils.data_info import DataInfo

/Users/eispoohw/University/PythonForDataAnalysis/venv/lib/python3.9/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2.0 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
data_collector = OPITMODataCollector('.env')
all_details = data_collector.get_data('data/all_details', file_type='json')

In [3]:
data_extractor = DataExtractor(all_details)
len(data_extractor.dfs)

13

In [4]:
dig = DataInfo.data_info_gen(data_extractor.dfs)

In [5]:
next(dig)

academic_plans

,id,educational_profile,approval_date,year,education_form,qualification,author,ap_isu_id,on_check,laboriousness,can_edit,can_validate,was_send_to_isu,rating,discipline_blocks_in_academic_plan_id,academic_plan_in_field_of_study_id
type,int64,object,object,object,object,object,float64,float64,object,int64,bool,bool,bool,bool,object,int64
notnull,598,3,598,4,3,9,3,595,598,598,598,598,598,598,598,598
count,598,598,598,598,598,598,598,598,598,598,598,598,598,598,598,598
fullness,1.0,0.005,1.0,0.0067,0.005,0.0151,0.005,0.995,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
unique_values_count,598,4,598,2,2,3,3,595,3,249,1,1,2,1,unhashable,598
unique_values,too many values to show,None; План Б; Прикладной искусственный интелле...,too many values to show,None; 2023,None; internal,None; master; bachelor,nan; 4680.0; 255.0,too many values to show,in_work; on_check; verified,too many values to show,False,False,False; True,False,unhashable,too many values to show
min_value,6796,NaN,NaN,NaN,NaN,NaN,255.0,9837.0,NaN,0,NaN,NaN,NaN,NaN,NaN,6859
max_value,7505,NaN,NaN,NaN,NaN,NaN,4680.0,28389.0,NaN,1083,NaN,NaN,NaN,NaN,NaN,7658

In [6]:
next(dig)

academic_plans_in_field_of_study

,id,year,qualification,title,plan_type,training_period,total_intensity,military_department,university_partner,field_of_study_id,editors_id,structural_unit_id
type,int64,int64,object,object,object,int64,int64,bool,object,float64,object,float64
notnull,599,599,599,599,599,599,599,599,599,596,335,133
count,599,599,599,599,599,599,599,599,599,599,599,599
fullness,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.995,0.5593,0.222
unique_values_count,598,6,3,226,2,3,3,2,unhashable,82,unhashable,28
unique_values,too many values to show,2018; 2020; 2019; 2021; 2022; 2023,bachelor; master; specialist,too many values to show,base; Базовый,0; 4; 2,0; 240; 120,False; True,unhashable,too many values to show,unhashable,too many values to show
min_value,6859,2018,NaN,NaN,NaN,0,0,NaN,NaN,15734.0,NaN,1.0
max_value,7658,2023,NaN,NaN,NaN,4,240,NaN,NaN,15819.0,NaN,65.0